doctype html
- var title = "奈緒のお天気（β）"
- var description = "神谷奈緒の髪で天気予報"
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes")
    title #{title}
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(rel="stylesheet" href="css/index.css")
    link(rel="icon" href="img/sunny-occ-rainy.png" type="image/png")
    link(rel="canonical" href="/nao-hair-weather/")

    //- Twitter cards and open graph
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:creator" content="@ssasasssaassasa")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content="https://nkudryavka.github.io/nao-hair-weather/img/screenshot.png")
  body
    div(class="container")
      h1 #{title}
      a(href="https://twitter.com/na_zu_na_110/status/911501302596648960" style="margin-right: 1em; vertical-align: top;") 元ネタ
      a(href="https://twitter.com/share" class="twitter-share-button" data-text=`${title} - ${description}` data-via="ssasasssaassasa") Tweet
      script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      div.row
        div.col.text-center(style="padding: 0;")
          div#day-selecter.btn-group.btn-group-lg(role="group" data-toggle="buttons")
            label.btn.btn-outline-primary
              input(type="radio" name="day" value="day-0")
            label.btn.btn-outline-primary
              input(type="radio" name="day" value="day-1")
            //- label.btn.btn-outline-primary
              input(type="radio" name="day" value="day-2")
          div#canvas
          div#loading-cover
           span Now Loading...
          div
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous")
    script(src="js/index.js")
